a:visited[scope],
a:hover[scope],
a:link[scope],
a:active[scope],
input:focus[scope],
div:first-child[scope],
div.class:first-child[scope],
div#id:first-child,
div:nth-child(1)[scope],
div:nth-last-child(1)[scope],
div:nth-of-type(1)[scope],
div:first-of-type(1)[scope],
div:last-of-type(1)[scope],
div:empty[scope],
div:target[scope],
input:checked[scope],
input:enabled[scope],
input:disabled[scope]