a:visited,
a:hover,
a:link,
a:active,
input:focus,
div:first-child,
div.class:first-child,
div#id:first-child,
div:nth-child(1),
div:nth-last-child(1),
div:nth-of-type(1),
div:first-of-type(1),
div:last-of-type(1),
div:empty,
div:target,
input:checked,
input:enabled,
input:disabled